<h1>Bienvenido al Maratón</h1>

<!-- Missing logic if there are no more questions -->
<p>+PREGUNTA+</p>
<form method="post" action="/statistics">
	<p><input type="text" name="login" value="" placeholder="answer"></p>
	<p class="submit"><input type="submit" name="commit" value="next"></p>
</form>
