<h1>Bienvenido al Maratón Web</h1>

<!-- Form which will lead to the sign up view -->

<!-- Form which will lead to the +user profile+ view -->
<div id = "error">
<% if @error %>
	<p>La contraseña o usuario son incorrectos, intenta de nuevo.</p>
<% end %>
</div>
<div id = "login">
<form method="post" action="/login">
	<p><input type="text" name="username" placeholder="username"></p>
	<p><input type="password" name="password" placeholder="password"></p>
  <p class="submit"><input type="submit" name="commit" value="Login"></p>
</form>
</div>
<div id = "signin">
<form method="post" action="/signup">
	<p><input type="text" name="username" placeholder="username"></p>
	<p><input type="password" name="password" placeholder="password"></p>
	<p class="submit"><input type="submit" name="commit" value="Sign Up"></p>
</form>
</div>


<!-- NOTAS: QUIZA AMBOS SON IGUALES -->