<h1>Bienvenido al Maratón Web</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>

<!-- Form which will lead to the sign up view -->

<!-- Form which will lead to the +user profile+ view -->
<form method="post" action="/login">
	<p><input type="text" name="username" placeholder="username"></p>
	<p><input type="password" name="password" placeholder="password"></p>
  <p class="submit"><input type="submit" name="commit" value="Login"></p>
</form>

<form method="post" action="/signup">
	<p><input type="text" name="username" placeholder="username"></p>
	<p><input type="password" name="password" placeholder="password"></p>
	<p class="submit"><input type="submit" name="commit" value="Sign Up"></p>
</form>

<% if @error %>
	<p>hubo un error</p>
<% end %>


<!-- NOTAS: QUIZA AMBOS SON IGUALES -->