<h1>Bienvenido ยก<%= @user.name %>!</h1>
<% if @user.games_played %>
	<p>Has jugado <%= @user.games_played %> juegos</p><br>
<% end %>
<div class = "navbar">
	<form method="get" action="/">
	  <p class="submit"><input type="submit" name="commit" value="Log Out"></p>
	</form>

	<form method="get" action="/game">
	  <p class="submit"><input type="submit" name="commit" value="Game"></p>
	</form>

	<form method="get" action="/statistics">
	  <p class="submit"><input type="submit" name="commit" value="statistics"></p>
	</form>

</div>