<h1>Bienvenido a tu perfil +USUARIO+</h1>

<p>Tu nombre es +NOMBRE+</p><br>
<p>Has jugado +TANTAS VECES+</p><br>
<p>Tus estadísticas son +TANTAS VECES+</p><br>

<form method="get" action="/">
  <p class="submit"><input type="submit" name="commit" value="Log Out"></p>
</form>

<form method="get" action="/game">
  <p class="submit"><input type="submit" name="commit" value="Game"></p>
</form>

<form method="post" action="/statistics">
  <p class="submit"><input type="submit" name="commit" value="statistics"></p>
</form>
