<h1>Bienvenido a tus estadísticas</h1>

<p>Tu nombre es +NOMBRE+</p><br>
<p>Has jugado +TANTAS VECES+</p><br>
<p>Tus estadísticas son +TANTAS VECES+</p><br>

<form method="post" action="/profile">
  <p class="submit"><input type="submit" name="commit" value="Back"></p>
</form>
